.calendar {
  text-align: center;
}

.calendar__buttons {}

.calendar__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 1080px) {
  .calendar__cards {
    justify-content: start;
  }
}

.calendar__card {
  max-width: 570px;
}

@media screen and (min-width: 920px) {
  .calendar__card {
    padding: 30px 10px;
    max-width: calc(100% / 2 - 20px);
  }
}

@media screen and (min-width: 1480px) {
  .calendar__card {
    padding: 30px;
    max-width: calc(100% / 3 - 20px);
  }
}
