.card {
  border-radius: 30px;
  padding: 17px 30px 30px 30px;
  box-sizing: border-box;
  font-style: normal;
  display: grid;
  grid-template-rows: repeat(5, max-content);
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  width: 100%;
  scrollbar-width: thin;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card_content_video-description {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .card_content_video-description {
    grid-row: 2/2;
    border-radius: 0 0 30px 30px;
  }
  .card_content_video {
    border-radius: 30px 30px 0 0;
  }
}

.card__scroll::-webkit-scrollbar {
  width: 5px;
}

.card__scroll::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 30px 7px 30px 0;
}

.card__scroll::-webkit-scrollbar-track-piece {
}

.card__scroll::-webkit-scrollbar-thumb {
  background-color: #E8E6E6;
  border-radius: 6px;
  min-height: 30px;
}

.card__tag {
  color: #464646;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  margin: 0 0 17px 0;
  padding: 2px 7px;
  width: 130px;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.card__title {
  text-align: center;
  margin: 0 0 5px 0;
  font-family: 'Proto Grotesk Web Light', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}

.card__title_place_film-card {
  min-height: 60px;
}


.card__image {
  width: 100%;
  border-radius: 15px;
  min-height: 142px;
  margin: 0 0 15px 0;
  height: 394px;
  background: no-repeat center;
  background-size: cover;
}

.card__image_place_main {
  background-image: url("../images/mentor-choise-girls-hor.jpg");
}

.card__subtitle {
  margin: 0 0 70px 0;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #464646;
  text-align: center;
}

.card__subtitle_place_film-card {
  margin-bottom: 15px;
  min-height: 54px;
}

.card__subtitle_place_video-section {
  margin-bottom: 0;
}

.card__link {
  text-decoration: none;
}

.card__link:visited{
  color: #000;
}

.card__link_content_external-link {
  color: #224CFF;
  font-family: 'Proto Grotesk Web Light', 'Arial', sans-serif ;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-align: center;
}

.card__link_content_image {
  height: 100%;
  width: 100%;
}

.card__text {
  margin: 10px 0 0;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
}

.card__scroll {
  overflow: scroll;
}
.card__scroll_sm {
  max-height: 145px;
}

.card__scroll_big{
  max-height: 389px;
}

@media screen and (max-width: 1440px) {
  .card__image_place_main {
    background-image: url("../images/mentor-choise-girls-vert.jpg");
  }
}

@media screen and (max-width: 1439px) {
  .card__title {
    font-size: 19px;
    line-height: 23px;
  }
  .card__subtitle {
    font-size: 12px;
    line-height: 17px;
  }


}

@media screen and (max-width: 1024px) {
  .card {
    padding: 17px 15px 15px 15px;

  }


  .card__subtitle {
    margin-bottom: 62px;
  }

  .card__subtitle_place_film-card {
    min-height: 46px;
    margin-bottom: 5px;
  }

  .card__image {
    height: 346px;
  }

  .card__image_place_main {
    background-image: url("../images/mentor-choise-girls-hor.jpg");
  }

  .card__link {
    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }

  .card__subtitle {
    margin-bottom: 39px;
  }

  .card__subtitle_place_film-card {
    margin-bottom: 5px;
  }

  .card__image {
    height: auto;
    background-image: url("../images/mentor-choise-girls-mob.jpg");
  }
}

.card_content_article {
  padding: 47px 15px 30px 30px;
  margin: 0;
  justify-items: left;
  height: 100%;
  overflow: scroll;
  overflow-x: auto;
  max-height: 629px;

}

.card__text_content_article-heading {
  color: #464646;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 0 0 0 0;
}

.card__text_content_article {
  color: #000;
  font-family: 'PT Root UI', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
  padding: 0;
}

.card__text_content_article:last-child {
  margin: 0;
}

@media screen and (min-width: 1440px){
  .card__text_content_article-heading {
    margin-bottom: 105px;
  }
}


@media screen and (max-width: 1440px){
  .card_content_article {
    padding: 30px 10px 10px 30px;
  }
}

@media screen and (max-width: 1439px){
  .card_content_article {
    padding-top: 30px;
    height: 100%;
  }

  .card__text {
    padding: 0 15px;
  }

  .card__text_content_article {
    font-size: 15px;
    line-height: 21px;
  }
  .card__text_content_article-heading {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 640px) {
  .card__content_article {
    width: 290px;
  }
}

.card_content_video {
  display: block;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/video-poster.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card_content_social-media {
  display: flex;
  border-radius: 30px;
  overflow:hidden;
  padding: 0;
  justify-content: flex-start;
}


.card_content_paper-abstract{
  padding: 120px 400px 30px 400px;
}

.card__title_content_paper-abstract {
  font-family: 'Proto Grotesk Web Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  color: #1A1A1A;
  margin: 0 0 21px 0;
  min-height: 300px;
}

.card__title_content_question {
  text-align: left;
  margin-bottom: 17px;
}

@media screen and (max-width: 1920px) and (min-width: 1440px) {
  .card_content_paper-abstract {
    padding: 120px calc(5 * 100vw / 8 - 800px) 30px calc(5 * 100vw / 8 - 800px);
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .card_content_paper-abstract {
    padding: calc(45 * 100vw / 208 - 191.5px)  calc(15 * 100vw / 104 - 107.7px) calc(105 * 100vw / 416 - 243.5px);
  }
  .card__subtitle_place_film-card {
    min-height: 40px;
    margin-bottom: 17px;
  }

  .card__link_content_external-link{
    font-size: 15px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1439px){
  .card__title_content_paper-abstract {
    font-size: 19px;
    line-height: 23px;
    margin: 0 0 10px 0;
    min-height: 240px;
  }

}

@media screen and (max-width: 1024px) {
  .card_content_paper-abstract {
    padding: 30px 15px 15px 15px;
  }

  .card__link_content_external-link{
    font-size: 12px;
    line-height: 17px;
  }
}

