.container {
  width: calc(100% - 30px);
  /*padding: 0 15px;*/
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  row-gap: 30px;
  max-width: 1770px;

}

@media screen and (min-width: 1920px) {
  .container {
    width: calc(100% - 150px);
  }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    width: calc(100% - (630px - 100vw / 4));
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: calc(100% - (214px + 100vw / 26));
  }
}

@media screen and (min-width: 321px) and (max-width: 1023px) {
  .container {
    width: calc(100% - (7 * 100vw / 22 - 72px));
  }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    width: calc(100% - (630px - 100vw / 4));
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: calc(100% - (214px + 100vw / 26));
  }
}

@media screen and (min-width: 1023px) and (max-width: 321px) {
  .container {
    width: calc(100% - 60px);
  }
}


@media screen and (min-width: 321px) and (max-width: 1023px) {
  .container {
    width: calc(100% - 30px);
  }
}
