.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  row-gap: 30px;
  padding-bottom: 120px;
  z-index: 9;
}

@media screen and (max-width: 1024px) {
  .content {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    padding-bottom: 50px;
  }
}

.content_place_about-project {
  row-gap: 80px;
}

.content__link {
  text-decoration: none;
}


.content__link_place_project-description {
  margin: 35px 0 0 30px;
}


.content__link_place_question {
  width: 100%;
  height: 100%;
}
