.project-description {
  background: #8CDD94;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-description__logo-image {
  width: calc(62px + 11 * 100vw / 112);
  height: calc(11.7px + 100vw / 56);
}

.project-description__logo-container {
  border-radius: 30px 3px 200px 3px;
  position: relative;
  z-index: 2;
  width: 65%;
  height: 30%;
  max-height: 156px;
  background: #FF8585;
  display: flex;
}

.project-description__description-container {
  background: #FF8585;
  border-radius: 400px;
  position: relative;
  height: 70%;
  max-height: 364px;
  width: 100%;
  display: flex;

}

.project-description__description-text {
  margin: auto;
  padding: 0 17.9%;

}

@media screen and (max-width: 1440px) {

  .project-description__description-text{
    padding: 0 5.27%;
  }

  .project-description__description {
    border-radius: 30px 30px 70px 70px;
    transform: rotate(-180deg);
  }

  .project-description__logo-container {
    width: 72.2%;
  }
}

@media screen and (max-width: 1300px) {

  .project-description__description-text {
    font-size: 21px;
    line-height: 27px;
  }
}


@media screen and (max-width: 1024px) {
  .project-description__logo-image {
    width: 164px;
    height: 30px;
  }

  .project-description__logo-link {
    margin: 22px 0 0 15px;
    width: 0;
    height: 0;
  }

  .project-description__description-text{
    font-size: 19px;
    line-height: 23px;
  }

  .project-description__description-container {
    border-radius: 70px 70px 30px 30px;
    height: 96.7%;
  }
}

@media screen and (min-width: 1920px) {
  .project-description__logo-image {
    width: 252px;
    height: 46px;
  }
}

@media screen and (max-width: 800px) {
  .project-description__logo-container {
    width: 80%;
  }
}

