.title {
  font-family: 'Proto Grotesk Web Light', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: #000
}

.title_size_big {
  font-size: 74px;
  line-height: 80px;

}

.title_size_medium {
  font-size: 23px;
  line-height: 30px;
}

.title_size_small {
  font-size: 44px;
  line-height: 50px;

}



@media screen and (max-width: 1439px) {

  .title_size_medium {
    font-size: 21px;
    line-height: 27px;
  }

  .title_size_small {
    font-size: 19px;
    line-height: 23px;
  }

  .title_size_big {
    font-size: 37px;
    line-height: 39px;
  }
}

@media screen and (max-width: 1024px) {
  .title_size_medium {
    font-size: 19px;
    line-height: 23px;
  }
}
